.navMenu {
  position: absolute;
  top: 50px;
  right: 0;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  z-index: 5;
  transition: all 2s 0s linear;
}

.navBg {
  background-color: rgba(0, 0, 0, 0.774);
  flex: 1;
}

.navItems {
  margin: 0;
  width: 40%;
  background-color: white;
  padding: 20px;
}

.navItems li {
  margin-bottom: 10px;
}

.manuButton {
  position: absolute;
  top: 0;
  right: 0;
}
